

body{
    font-family: 'Lato', sans-serif;
    background-color: rgb(243, 242, 242);
    color: #5a5a5a;
}

.img-fluid{
    width:100%;
    height:auto;
}

#submitText{
    color:#8d8c8c;
    text-transform: uppercase;
    padding-left:.65em;
    padding-bottom: .3em;
    line-height: .5em;
}

footer{
    font-family: 'Lato', sans-serif;
    color: #cccccc;
}

.image{
    width:24em;
    height:18em;    
}

p{
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    color: #8d8c8c;
    text-align: center;
    font-size: 1em;
    padding-top: 3em;
    border-bottom:1px dashed #dbdbdb;
}

button{
    margin: .5em;
}
