

body{
    font-family: 'Lato', sans-serif;
    background-color: rgb(243, 242, 242);
    color: #5a5a5a;
}

img{
    width:100%;
    height:auto;
}

#submitText{
    color:#8d8c8c;
    text-transform: uppercase;
    padding-left:.65em;
    padding-bottom: .3em;
    line-height: .5em;
}

footer{
    font-family: 'Lato', sans-serif;
    color: #cccccc;
}